name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Deploy to EC2 Server
        uses: appleboy/ssh-action@v0.1.5
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            cd /home/deploy/varahanarasimha-portfolio
            git pull origin main

            cd my-app
            npm install --legacy-peer-deps
            npm run build

            pm2 stop nextapp || true
            pm2 start npm --name "nextapp" -- start
            pm2 save
